{% render 'partials/head.liquid'%}

<h1>{{ station.name }}</h1>
<p>Welkom bij {{ station.name }}</p>

<!-- Kalender: lijst met maandag t/m zaterdag -->
<ul class="week-calendar">
    {% for item in weekDays %}
    <li class="{% if item.day == selectedDay %}active{% endif %}">
        <a href="?day={{ item.day }}">{{ item.day | capitalize }} {{ item.dayNumber }}</a>
    </li>
    {% endfor %}
</ul>

<main>

    <p>Het programma van vandaag:</p>

    <section>

        {% for show in shows %}
        {% if show.title != blank or show.body != blank or show.from != blank or show.until != blank or show.userAvatar != blank %}

        <div class="programma-item">
            <h2>{{ show.title }}</h2>
            <p>{{ show.body }}</p>
            <p>van {{ show.from }} tot {{ show.until }}</p>

            {% if show.userAvatar %}
            <img src="https://fdnd-agency.directus.app/assets/{{ show.userAvatar }}" alt="User Avatar">
            {% endif %}
        </div>

        {% endif %}
        {% endfor %}

    </section>

</main>

{% render 'partials/foot.liquid'%}